    <footer class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="footer-content small-12">
            <ul class="no-bullet small-8">
                {% for navigation_item in site.data.navigation %}
                  {% if navigation_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% assign domain = site.url + site.baseurl %}{% endif %}
                  <li {% if navigation_item.class %}class="{{ navigation_item.class }}" {% endif %}>
                    <a href="{% unless navigation_item.url contains 'mailto' %}{{ domain }}{% endunless %}{{ navigation_item.url }}" {% if navigation_item.url contains 'http' %}target="_blank" {% endif %} title="{{ navigation_item.title }}">
                      {% if navigation_item.image %}
                        <img src="{{ site.urlimg }}icons/{{ navigation_item.image }}" />
                      {% else %}
                        {{ navigation_item.title }}
                      {% endif %}
                    </a>
                  </li>
                {% endfor %}
            </ul>
            <ul class="no-bullet oicr-info small-4">
              {% for oicr_item in site.data.oicr %}
                {% if oicr_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% assign domain = site.url + site.baseurl %}{% endif %}
                <li {% if oicr_item.class %}class="{{ oicr_item.class }}" {% endif %}>
                  <a href="{% unless oicr_item.url contains 'mailto' %}{{ domain }}{% endunless %}{{ oicr_item.url }}" {% if oicr_item.url contains 'http' %}target="_blank" {% endif %} title="{{ oicr_item.title }}">
                    {% if oicr_item.image %}
                      <img src="{{ site.urlimg }}{{ oicr_item.image }}" />
                    {% else %}
                      {{ oicr_item.title }}
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div><!-- /.row -->

      </div><!-- /#footer -->
    </footer>
