<div id="navigation">
  <nav role="navigation">
    <div class="row">
      <div class="small-12 columns">
        <div class="small-2 columns">
           <a href="{{site.url}}/" title="Ferretti Blog">
              <img src="{{site.urlimg}}logo-Ferretti-blog.png" title="Ferretti Blog" />
            </a>
        </div>
        <div class="small-10 columns">
          <div class="search-bar clearfix">
            <form action="/search" method="get">
              <input id="search-box" name="q" type="text" placeholder="Search..."/>
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
          </div>
          <div class="navigation-bar">
            <ul class="no-bullet">
              {% for navigation_item in site.data.navigation %}
                <li {% if navigation_item.class %}class="{{ navigation_item.class }}" {% endif %}>
                    <a {% if navigation_item.url == page.url %} class="active" {% endif %} href="{{ site.url }}/{{ navigation_item.url }}" {% if navigation_item.url contains 'http' %}target="_blank" {% endif %} title="{{ navigation_item.title }}">
                      {% if navigation_item.image %}
                        <img src="{{ site.urlimg }}icons/{{ navigation_item.image }}" />
                      {% else %}
                        {{ navigation_item.title }}
                      {% endif %}
                    </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div><!-- /#navigation -->
