<div class="top-container">
  <div class="header-container row" style="width: 100%" data-equalizer>
    <div class="small-2 medium-2 columns" data-equalizer-watch>
      <a href="{{ site.url }}{{ site.baseurl }}"> 
        <img class="header-logo" src="{{ site.url }}/assets/icons/logo-Ferretti-blog.svg">
      </a>
    </div>
    <div class="nav-container small-8 medium-8 columns" data-equalizer-watch>
      <ul> 
        {% for link in site.data.navigation %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% elsif link.url == '#' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = site.url %}
              {% endif %}

            <li {% if link.url == page.url %}
                  class="active"
                {% elsif page.homepage == true and link.url == '/' %}
                  class="active"
                {% endif %}>
                
                <a href="{{ domain }}{{ site.baseurl }}{{ link.url }}"
                  {% if link.url contains 'http' %} target="_blank" {% endif %}>
                  {{ link.title | escape }}</a>
            </li>
        {% endfor %}
      </ul>
    </div>
    <div class="small-2 medium-2 columns" style="position: relative;" data-equalizer-watch>
      <img width="30px" height="30px" style="position: absolute; right: 0; top: 0;" src="/assets/icons/icon-youtube.svg">
      <!-- Border rad is in here since the guy who made the theme has a css reset for inputs loading after all scss... !--> 
      <input class="search-input" style="-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;" type="text" placeholder="Search...">
    </div>
  </div>
</div>