{% for post in paginator.posts | where tags %}
{% assign author = site.data.authors[post.author] %}
  <div class="row" >
    <div class="small-12 columns b30 blog_teaser">
      <span class="date-display">{{ post.date | date: "%b. %-d, %Y" }}</span>
      <h3 class="post-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
      {% if author %}<p class="post-author">By: <a href="#placeholder"><strong>{{ author.name }}</strong></a></p>{% endif %}
      <div class="circles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      {% if post.tags.first %}
      <p class="post-tags">
          <i class="fa fa-tag" aria-hidden="true"></i>
          <span class="pr10">
            <strong>
            {% for tag in post.tags %}
              {{ tag }}
              {% unless forloop.last %}
              / 
              {% endunless %}
            {% endfor %}
            </strong>
          </span>
      </p>
      {% endif %}
        {% if post.image.thumb %}
          <a href="{{ site.url }}{{ post.url }}" title="{{ post.title escape_once }}"><img src="{{ site.urlimg }}{{ post.image.thumb }}" class="teaser-image" alt="{{ page.title escape_once }}"></a>
        {% endif %}
        {% if post.teaser %}
        <div class="teaser">
          {% if post.teaser.image %}
            <img class="teaser-image" src="{{site.urlimg}}{{post.teaser.image}}" />
          {% endif %}
          <p>
            {{ post.teaser.info | strip_html | escape }}
          </p>
        </div>
        {% endif %}
        <p class="post-link"><a href="{{ site.url }}{{ post.url }}" title="{{ site.data.language.read }} {{ post.title escape_once }}"><strong>Full Article &#187;</strong></a></p>
    </div><!-- /.small-12.columns -->
  </div><!-- /.row -->
{% endfor %}


<nav id="pagination" class="row">
    <div class="small-4 columns" style="height: 50px;">
      {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a class="action-buttons" href="{{ site.url }}blog/">
              <img src="{{site.urlimg}}icons/icon-arrow-blue.svg"/>
              Previous
            </a>
          {% else %}
            <a class="action-buttons" href="{{ site.url }}blog/page{{ paginator.previous_page }}/">
              <img src="{{site.urlimg}}icons/icon-arrow-blue.svg"/>
              Previous
            </a>
          {% endif %}
      {% endif %}
    </div>

    {% assign away_from_end = paginator.total_pages %}
    
    {% if paginator.total_pages < 5 %}
      {% assign beginning = 1 %}
      {% assign ending = paginator.total_pages %}
    {% elsif paginator.page - 2 < 1 %}
      {% assign beginning = 1 %}
      {% assign ending = 5 %}
    {% elsif paginator.page + 2 > paginator.total_pages %}
      {% assign beginning = paginator.total_pages - 5 %}
      {% assign ending = paginator.total_pages %}
    {% else %}
      {% assign beginning = paginator.page - 2 %}
      {% assign ending = paginator.page + 2 %}
    {% endif %}
    
    <div class="small-4 columns" style="height: 50px;">
      <span class="pag_nums">
        {% for i in (beginning..ending) %}
          {% if i != paginator.page %}
            {% if i == 1 %}
              <a href="{{ site.url }}blog/">{{i}}</a>
            {% else %}
              <a href="{{ site.url }}blog/page{{ i }}/">{{i}}</a>
            {% endif %}
          {% else %}
            {% if i == 1 %}
              <a class="pag_active" href="{{ site.url }}blog/">{{i}}</a>
            {% else %}
              <a class="pag_active" href="{{ site.url }}blog/page/{{ i }}">{{i}}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </span>
    </div>

    <div class="small-4 columns" style="height: 50px;">
      <div style="float: right">
        {% if paginator.next_page %}
          <a class="action-buttons" href="{{ site.url }}blog/page{{ paginator.next_page }}/">
            Next
            <img src="{{site.urlimg}}icons/icon-arrow-blue.svg"/>
          </a>
        {% endif %}
      </div>
    </div>
  </nav>

