{% for post in paginator.posts%}
{% assign author = site.data.authors[post.author] %}
  <div class="row">
    <div class="small-12 columns b30 blog_teaser">
      <span class="date-display">{{ post.date | date: "%b. %-d, %Y" }}</span>
      <h3 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      {% if author %}<p class="post-author">By: <a href="{{ site.baseurl }}/blog/category/{{post.author}}"><strong>{{ author.name }}</strong></a></p>{% endif %}
      <div class="circles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      {% if post.tags.first %}
      <p class="post-tags">
          <i class="fa fa-tag" aria-hidden="true"></i>
          <span class="pr10">
            <strong>
            {% for tag in post.tags %}
              {{ tag }}
              {% unless forloop.last %}
              / 
              {% endunless %}
            {% endfor %}
            </strong>
          </span>
      </p>
      {% endif %}
        {% if post.image.thumb %}
          <a href="{{ site.baseurl }}/{{ post.url }}" title="{{ post.title escape_once }}"><img src="{{ site.urlimg }}{{ post.image.thumb }}" class="teaser-image" alt="{{ page.title escape_once }}"></a>
        {% endif %}
        {% if post.teaser %}
        <div class="teaser">
          {% if post.teaser.image %}
            <img class="teaser-image" src="{% if post.teaser.image contains 'http' %} {{ post.teaser.image }} {% else %} {{site.urlimg}}{{post.teaser.image}} {% endif %}" />
          {% endif %}
          {% if post.teaser.youtube %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ post.teaser.youtube }}" frameborder="0" allowfullscreen></iframe>
          {% endif %}          
          <p>
            {{ post.teaser.info | strip_html | escape }}
          </p>
        </div>
        {% endif %}
        <p class="post-link"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ site.data.language.read }} {{ post.title escape_once }}"><strong>Full Article &#187;</strong></a></p>
    </div><!-- /.small-12.columns -->
  </div><!-- /.row -->
{% endfor %}


<div id="pagination" class="row pagination">
    <div class="small-12 clearfix">
      <div class="small-3 columns">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a class="action-buttons previous" href="{{ site.baseurl }}/blog/">
                <img src="{{site.urlimg}}icons/icon-arrow-blue.svg"/>
                Previous
              </a>
            {% else %}
              <a class="action-buttons previous" href="{{ site.baseurl }}/blog/page{{ paginator.previous_page }}/">
                <img src="{{site.urlimg}}icons/icon-arrow-blue.svg"/>
                Previous
              </a>
            {% endif %}
        {% else %}
          &nbsp;
        {% endif %}
      </div>
  <!--
      {% assign away_from_end = paginator.total_pages %}
      
      {% if paginator.total_pages < 5 %}
        {% assign beginning = 1 %}
        {% assign ending = paginator.total_pages %}
      {% elsif paginator.page - 2 < 1 %}
        {% assign beginning = 1 %}
        {% assign ending = 5 %}
      {% elsif paginator.page + 2 > paginator.total_pages %}
        {% assign beginning = paginator.total_pages - 5 %}
        {% assign ending = paginator.total_pages %}
      {% else %}
        {% assign beginning = paginator.page - 2 %}
        {% assign ending = paginator.page + 2 %}
      {% endif %}
      -->
      <div class="small-6 columns" >
        <div class="pagination-page-numbers">
          {% for page in (1..paginator.total_pages) %}
            {% if page >6 %}
              {% break %}
            {% endif %}
            {% if page != paginator.page %}
              {% if page == 1 %}
                <a href="{{ site.baseurl }}/blog/">{{page}}</a>
              {% else %}
                <a href="{{ site.baseurl }}/blog/page{{ page }}/">{{page}}</a>
              {% endif %}
            {% else %}
              {% if page == 1 %}
                <a class="active" href="{{ site.baseurl }}/blog/">{{page}}</a>
              {% else %}
                <a class="active" href="{{ site.baseurl }}/blog/page/{{ page }}">{{page}}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="small-3 columns">
        {% if paginator.next_page %}
          <a class="action-buttons next" href="{{ site.baseurl }}/blog/page{{ paginator.next_page }}/">
            Next
            <img src="{{site.urlimg}}icons/icon-arrow-blue.svg"/>
          </a>
        {% endif %}
      </div>
    </div>
</div>

