{% for post in paginator.posts%}
{% assign author = site.data.authors[post.author] %}
      {% assign mod = forloop.index | minus: 1 | modulo: 3 %}
      {% if mod == 0 or forloop.first %}
        <div class="row" >
      {% endif %}
      {% include _article_preview.html post=post column_classes='small-12 medium-6 large-4' %} 
      {% if mod == 2 or forloop.last %}
        </div><!-- /.row -->
      {% endif %}
{% endfor %}


<div id="pagination" class="row pagination">
    <div class="small-12 clearfix">
      <div class="small-3 columns">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a class="action-buttons previous" href="{{ site.baseurl }}/blog/">
                <img src="{{site.urlimg}}icons/icon-arrow-blue.svg"/>
                Previous
              </a>
            {% else %}
              <a class="action-buttons previous" href="{{ site.baseurl }}/blog/page{{ paginator.previous_page }}/">
                <img src="{{site.urlimg}}icons/icon-arrow-blue.svg"/>
                Previous
              </a>
            {% endif %}
        {% else %}
          &nbsp;
        {% endif %}
      </div>

      {% assign away_from_end = paginator.total_pages %}

      {% if paginator.total_pages < 5 %}
        {% assign beginning = 1 %}
        {% assign ending = paginator.total_pages %}
      {% elsif paginator.page - 2 < 1 %}
        {% assign beginning = 1 %}
        {% assign ending = 5 %}
      {% elsif paginator.page + 2 > paginator.total_pages %}
        {% assign beginning = paginator.total_pages - 5 %}
        {% assign ending = paginator.total_pages %}
      {% else %}
        {% assign beginning = paginator.page - 2 %}
        {% assign ending = paginator.page + 2 %}
      {% endif %}

      <div class="small-6 columns" >
        <div class="pagination-page-numbers">
          {% for page in (1..paginator.total_pages) %}
            {% if page >6 %}
              {% break %}
            {% endif %}
            {% if page != paginator.page %}
              {% if page == 1 %}
                <a href="{{ site.baseurl }}/blog/">{{page}}</a>
              {% else %}
                <a href="{{ site.baseurl }}/blog/page{{ page }}/">{{page}}</a>
              {% endif %}
            {% else %}
              {% if page == 1 %}
                <a class="active" href="{{ site.baseurl }}/blog/">{{page}}</a>
              {% else %}
                <a class="active" href="{{ site.baseurl }}/blog/page/{{ page }}">{{page}}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="small-3 columns">
        {% if paginator.next_page %}
          <a class="action-buttons next" href="{{ site.baseurl }}/blog/page{{ paginator.next_page }}/">
            Next
            <img src="{{site.urlimg}}icons/icon-arrow-blue.svg"/>
          </a>
        {% endif %}
      </div>
    </div>
</div>
