@charset "utf-8";
/* TOC

- Adjustments: Video Layout
- Navigation
- Search
- Masthead
- Masthead › small-only
- Masthead › medium-only
- Masthead › large-only
- Masthead › xlarge-up
- Breadcrumb
- Meta
- Jump to top
- Footer
- Subfooter
- CSS-Classes to add margin at top or bottom

*/



/* Adjustments: Video Layout
------------------------------------------------------------------- */

body.video,
body.video #masthead-no-image-header { background: #000; }
body.video #masthead-no-image-header { margin-bottom: 60px; }
body.video h1,
body.video h2,
body.video h3,
body.video h4,
body.video h5,
body.video h6,
body.video p,
body.video a,
body.video blockquote:before,
body.video blockquote:after,
body.video cite a, { color: #fff; }
body.video cite a:visited, { color: #fff; }
body.video cite { color: #fff; }



/* Navigation
------------------------------------------------------------------- */

nav{
    background: #FFF;
    border-bottom: 5px solid #eaebf0;
    .post &, .careers & {
        border-bottom: 0;
    }
    padding: 20px  0;

    .search-bar{
        margin-top: -10px;
        input{
            width: 28%;
            float: right;
            margin-bottom: 0;
            border-radius: 20px;
            padding:2px 10px 0 33px;
            color: #9497a8;
            &:not(:hover) {
                border-color: transparent;
            }
        }
        i{
            position: absolute;
            top:0px;
            right: 207px;
            color: #9497a8;
        }
    }

    ul{
        margin: 12.5px 0px 0;
        display: inline-block;
        width: 100%;

        li{
            display: inline;;
            &:not(:last-child) {
                margin-right: 35px;
            }

            &:first-child{
                padding-left: 0;
            }

            &:last-child{
                padding-right: 0;

                a{
                    display: inline;

                    &:hover{
                        border: none;
                    }

                    img{
                        width: 4%;
                    }
                }
            }

            a{
                vertical-align: middle;
                font-family: gotham-bold;
                color: #9a9dad !important;
                font-size: 13px;
                padding-bottom: 7px;

                &:hover{
                    color: #6c708d !important;
                    border-bottom: 2px solid #ffbd66;
                }

                &.active{
                    border-bottom:  2px solid #ffbd66;
                }
            }
        }
    }
}



/* Search
------------------------------------------------------------------- */

.no-js form#search {
  display: none;
}



/* Masthead
------------------------------------------------------------------- */

.masthead{
    background-position: center center;
    background-size: cover;
    padding: 24px;
    color: #FFF;

    span{
        display: block;
        margin:10px 0px;
    }

    .left-column{
        font-family: $font-family-gotham-bold;
        
        .header-title{

            h2{
                color: #FFF;
                font-size: 33px;
                margin:5px 0px 0px 10px;
                display: inline-block;
                vertical-align: middle;

                &.small{
                    font-size: 28px;
                }
            }

            img{
                width: 10%;

                &.small{
                    width: 5.5%;
                }
            }

            &.no-icon{
                h2{
                    margin-left:0px;
                }
            }
        }

        .action-buttons{
            margin: 25px 0px 40px;
            a{
                & + a {
                    margin-left: 20px;
                }
                background: #FFF;
                color: #45a7ca;
                padding: 10px;
                border-radius: 15px;
                box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.2);
                font-size: 12px;
                overflow: auto;
                display: inline-block;

                img {
                    width: 17px;
                }
            }
        }

    }
    .right-column{
        padding: 20px;
        position: relative;
        z-index: 99;

        .next-meeting{
            @media#{$medium-up} {
                position: absolute;
            }
            top: 85px;
            right: 0px;

            .next-meeting-info{
                background: #FFF;
                border-radius: 10px;
                position: relative;
                z-index: 1;
                margin-bottom: -50px;

                .club-icon{
                    text-align: center;
                    
                    img{
                        width:15%;
                        margin-top: -22px;
                        border: 3px solid #FFF;
                        background: #FFF;
                        border-radius: 51%;
                    }
                }

                .meeting-info{
                    color: #000;
                    padding: 0em 2em 1.45em;
                    font-size: 15px;

                    span{
                        margin: 5px 0;
                        font-weight: normal;
                        strong{
                            margin: 0px 10px 0px 0px;
                        }
                    }

                    .meeting-club{
                        font-family: $font-family-gotham-bold;
                        font-size: $font-size-h5;
                        margin-bottom: 0px;
                        color: #6c708d;
                    }
                    .meeting-next{
                        font-family: $font-family-gotham-bold;
                        margin: 0px 0px 20px;
                        color: #9497a8
                    }
                    .meeting-time{

                        strong{
                            color:#000;
                        }
                    }
                    .meeting-place{
                        strong{
                            color:#000;
                        }
                    }
                    .meeting-host{
                        strong{
                            color:#000;
                        }
                    }
                    .meeting-talk{
                        strong{
                            color:#000;
                        }
                    }
                    .meeting-archive{
                        font-family: $font-family-gotham-bold;
                        margin-top:20px;
                    }
                }
            }
            .meeting-bg{
                padding: 4em;
                background-position: bottom;
                background-size: cover;
                position: absolute;
                width: 96%;
                left: 0;
                top: calc(100% + 30px);
                transform: scale(1.25);
            }

            &.in-club{
                position: initial;
                top: 0px;

                .next-meeting-info{
                    .club-icon{
                        display: none;
                    }
                    .meeting-info{
                        .meeting-join-us{
                            color: #6c708d;
                            font-family: $font-family-gotham-bold;
                            font-size: 18px;
                            padding: 20px 0 5px;
                        }
                        .meeting-club{
                            display: none;
                        }
                        .meeting-next{
                            display: none;
                        }
                        .meeting-archive{
                            display: none;
                        }
                    }
                }
                
                .meeting-bg{
                    display: none;
                }
            }
        }
    }
}
#masthead-no-image-header {
    background-color: $primary-color;
}
#masthead-with-text {
    text-align: center;
    font-size: rem-calc(54);
    font-family: $header-font-family;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
#masthead-no-image-header {
    height: 175px;
}
#masthead-no-image-header #logo img {
    margin-top: 60px;
}


/* Breadcrumb
------------------------------------------------------------------- */

#breadcrumb {
    background: scale-color($grey-1, $lightness: 55%);
    border-top: 1px solid scale-color($grey-1, $lightness: 45%);
    border-bottom: 1px solid scale-color($grey-1, $lightness: 45%);
}
.breadcrumbs>.current {
  font-weight: bold;
}


/* Meta
------------------------------------------------------------------- */

#page-meta, #page-meta a {
    color: $grey-5;
}

#page-meta .button {
    background: $grey-5;
    border: 0;
}
#page-meta .button {
    color: #fff;
}
#page-meta .button:hover {
    background: $primary-color;
}
.meta-info p {
  font-size: rem-calc(13);
  color: scale-color($grey-1, $lightness: 40%);
}
  .meta-info a {
    text-decoration: underline;
    color: scale-color($grey-1, $lightness: 40%);
  }
  .meta-info a:hover {
    text-decoration: none;
    color: $secondary-color;
  }



/* Jump to top
------------------------------------------------------------------- */

#up-to-top {
    padding: 160px 0 10px 0;
}
#up-to-top a {
    font-size: 24px;
    padding: 5px;
    border-radius: 3px;
}
#up-to-top a:hover {
    background: $grey-2;
}

/* Home Page and Club Page
------------------------------------------------------------------- */

.home-page, .club-page, .search-page, .tags-page, .months-page {
    aside{
        padding: 20px;
        @media #{$large-up} {
            margin: 130px 0 0 -11px;
        } 
    }
    .club-sidebar, .search-sidebar{
        aside{
            margin:30px 0 0 0;
        }
    }
    .posts{
        margin-top: 20px;

        div{
            &:last-child{
                .blog_teaser{
                    margin-bottom: 0 !important;
                }
            }
        }

        .results{
            ul{
                li{
                    padding: 20px 0;
                    border-bottom: 2px solid #e3e4e9; 
                    p.post-author{
                        color: #9497a8;
                    }
                    b{
                        color: #000;
                    }
                    h3{
                        b{
                            font-weight: 100;
                        }
                    }
                }

                &.tags-list, &.months-list{
                    li{
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}


/* Authors
------------------------------------------------------------------- */

.authors{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;

    .columns{
        padding: .4375rem;
    }
    .author {
        margin:0.75rem;
        padding: 1.25rem;
        background: #fff;
        color: #333;
        box-shadow: 0 0 2px 0 rgba(0,0,0,.15);
        border-radius: 5px;
        border: 1px solid #FFF;
        font-size: 13px;

        display: flex;
        flex-direction: column;

        img{
            border-radius: 50%;
        }

        &.is-alumni {
            img {
                filter: grayscale(0.9);
                transition: 0.3s ease;
            }
            &:hover img {
                filter: grayscale(0);
            }
        }

        p{
            margin: 0;
        }

        .author-name{
            font-family: $font-family-gotham-bold;
            font-size: 16px;
            color: #6c708d;
        }

        .author-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .alumni-badge {
            opacity: 0.5;
            text-transform: uppercase;
            float: right;
        }

        .author-position{
            font-family: $font-family-gotham-bold;
            font-size: 12px;
        }

        .author-info {
            flex-grow: 1;
            margin: 1em 0;
        }

        .author-links {
            font-family: $font-family-gotham-bold;
            display: flex;
            justify-content: space-between;
            a {
                display: flex;
                align-items: baseline;
                .fa {
                    margin-right: 0.2em;
                }
            }
        }
    }
}

.projects {
    align-items: stretch;
    .project {
        height: 100%;
    }
}

.careers {
    .careers-body {
        display: flex;
        flex-direction: row;
        @media #{$medium-up} {
            max-width: 920px;
            margin-left: auto;
            margin-right: auto;
        }
        .title {
            color: rgba(0,0,0,0.9);
            font-size: 34px;
            margin-bottom: 40px;
        }
        .map {
            position: relative;
            width: 300px;
            flex-shrink: 0;
            flex-grow: 1.5;
            margin-right: 50px;
            margin-top: 48px;
            margin-bottom: 60px;
            background-color: #f5f5f5;
            border-radius: 4px;
            overflow: hidden;
            .link-overlay {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .intro {
            color: #222;
            font-family: $font-family-serif;

            @media #{$medium-up} {
                max-width: 400px;
                margin-right: 40px;
            }
            @media #{$small-only} {
                padding: 0 1em;
            }
        }
    }
}

.join-the-team{
    text-align: center;
    .label{
        padding: 30px 5px;
        border-radius: 25px;
        font-size: 15px;

    }

    a {
        @media #{$medium-up} {
            margin-left: 30px;
            margin-right: 0px;
        }

        @media #{$small-only} {
            display: block;
            margin: 14px 14px 0;
        }
    }
    
}

.club-posts-info{
    background: #FAFAFA;
    h6{
        margin-top: 0.5rem;
        color: #6c708d;
    }
}

.author-page {
    background: #FAFAFA;
    .article-preview {
        background: #fff;
        padding: 15px;
        border-radius: 3px;
        box-shadow: 0 1px 4px rgba(0,0,0,.04);
        border: 1px solid rgba(0,0,0,.09);
        .teaser-image {
            border: 0;
        }
    }
}

/* Footer
------------------------------------------------------------------- */

.footer-content p,
.footer-content li {
    font-size: rem-calc(13);
    font-weight: 300;
}

#footer {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #FFF url('/images/footer-bg.png') center center;
    font-family: $font-family-gotham-bold;

    .footer-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media #{$medium-up} {
            flex-direction: row;
            .oicr-info{
                margin-left: 30px;
            }
        }

        ul{
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            flex-direction: row;
            @media #{$small-only} {
                flex-direction: column;
            }
            align-items: center;

            li{
                display: block;
                font-size: 10px;
                color: $footer-color;

                @media #{$medium-up} {
                    &:not(:last-child):not(.oicr-logo){
                        &:after {
                            content: '/';
                            font-weight: bold;
                            margin: 0 8px 0 6px;
                        }
                    }
                }
                @media #{$small-only} {
                    margin-bottom: 12px;
                }
                
                a{
                    color: $footer-color;
                    font-weight: 500;

                    img{
                        filter: grayscale(100%);
                    }
                }

                &.youtube-link {
                    a {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                    }
                }
                &.oicr-logo {
                    width: 100px;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}
    #footer h4,
    #footer h5 {
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
    }



/* Subfooter
------------------------------------------------------------------- */

#subfooter {
    background: $subfooter-bg;
    color: $subfooter-color;
    padding-top: 30px;
}

#subfooter-left ul.inline-list {
    float: left;
}

.credits a {
    color: $subfooter-link-color;
    border: 0;
    text-transform: uppercase;
    &:hover {
        color: #fff;
  }
}

.social-icons {
    margin-bottom: 10px !important;

// Beware of SCSS-Syntax here
  li {
    padding: 0 0 20px 0;
  }
  a {
    font-size: rem-calc(23);
    display: block;
    width: 36px;
    border-radius: 50%;
    color: $subfooter-bg;
    background: $subfooter-color;
    text-align: center;
    &:hover {
      background: $subfooter-bg;
      color: #fff;
    }
  }
}
 .youtube-link {
    &:not(:hover) {
        img {
            filter: grayscale(100%) brightness(150%);
        }
    }
}



/* CSS-Classes to add margin at top or bottom
------------------------------------------------------------------- */

.t10 { margin-top: 10px !important; }
.t15 { margin-top: 15px !important; }
.t20 { margin-top: 20px !important; }
.t30 { margin-top: 30px !important; }
.t50 { margin-top: 50px !important; }
.t60 { margin-top: 60px !important; }
.t70 { margin-top: 70px !important; }
.t80 { margin-top: 80px !important; }
.t90 { margin-top: 90px !important; }

.b15 { margin-bottom: 15px !important; }
.b20 { margin-bottom: 20px !important; }
.b30 { margin-bottom: 30px !important; }
.b60 { margin-bottom: 60px !important; }

.l15 { margin-left: 15px !important; }
.r15 { margin-right: 15px !important; }

.pl20 { padding-left: 20px !important; }
.pr5  { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }

.header-navigation {
    @media#{$medium-up} {
        display: flex;
        align-items: center;
    }
}