.blog {
    @media #{$large-up} {
        max-width: 740px;
    }
    .blog-post {     
        background: #FFF;
        padding: 60px 20px 0px;;
        pre{
            background: #eaebf0;
            border: none;
            padding: 0;

            &.note{
                background: $code-bg-color;

                code{
                    display: block;
                }
                
                &:before{
                    content: 'NOTE';
                    padding: 20px;
                    font-family: $font-family-gotham-book;
                    font-size: 12px;
                    color: #999cac;
                }
            }

            code{
                background: #f4f5f7;
                padding: 20px;

                &.language-note{
                    background: #fff5e8;
                }
            }
        }

        code{
            font-size: 15px;
            letter-spacing: -0.01em;
            background: $code-bg-color;
            border: none;
        }

        h1,h2,h3,h4,h5{
            font-family: $font-family-sans-serif;
            color: rgba(0,0,0,0.8);
        }

        h2 {
            font-weight: 900;
            margin-top: 1.51em;
            margin-bottom: 0;
        }

        h3 {       
            font-size: 24px;
            color: rgba(0,0,0,0.62);
            font-weight: 700;
        }

        iframe, video, img{
            width: 100%;
            border: solid 5px #eaebf0;
            margin-bottom: 10px;
        }

        figure{
            background: #eaebf0;
            padding: 5px;

            figcaption{
                padding: 10px 5px 5px 5px;
                font-size: 12px;
            }

            img{
                margin-bottom: 0;
                border: none;
            }
        }

        article{
            margin-top: 30px;
            p, ul {
                font-family: $font-family-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 21px;
                line-height: 1.6;
                // letter-spacing: -.003em;
                color: rgba(0,0,0,0.8);
            }
            a {
                display: inline-block;
                font-weight: inherit;
                position: relative;
                text-decoration: none;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background-image: linear-gradient(to bottom,rgba(0,0,0,.65) 50%,rgba(0,0,0,0) 50%);
                    background-repeat: repeat-x;
                    background-size: 2px 2px;
                    background-position: 0 1.26em;
                    transition: 0.1s transform;
                    transform-origin: center calc(100% - 7px);
                    transform: scaleY(1);
                }
                &:hover {
                    border-bottom: 0;
                    &:after {
                        transform: scaleY(1.5);
                    }
                }
            }
        }

        a {
            color: rgba(0,0,0,0.8);
        }

        .post-title {
            font-size: 40px;
            font-weight: 900;
            line-height: 1.04;
            margin-bottom: 20px;
            letter-spacing: -.03em;
            color: rgba(0,0,0,0.8);
        }

        .post-tags {
            margin-bottom: 1.25rem;
            color: #7fa5d2;
        }
        .post-author {
            a {
                color: #777;
                font-family: serif;
                font-size: 21px;
            }
        }
        .date-display {
            font-size: 12px;
            font-weight: 300;
        }
    }

    .author-box{
        background: #FFF;
        margin: 40px 0;
        padding:10px;
        border-radius: 10px;

        img{
            border-radius: 50%;
        }

        .author-bio{
            font-family: $font-family-gotham-bold;
            font-size: 15px;

            strong{
                color: #6c708d;
            }
        }
        .author-info{
            font-size: 12px;
        }
        .author-links{
            margin-top: 10px;
            a{
                padding:0 20px;
                font-family: $font-family-gotham-bold;
                font-size: 14px;

                &:first-child{
                    padding-left: 0;
                }
            }
        }
    }

    .blog-sidebar{
        margin-top:40px;
        margin-left:20px;
    }

    .social-media{
        margin-top: 10px;

        div{
            padding: 0 0.4rem;

            &:first-child{
                text-align: right;
                vertical-align: middle;
                padding: 0.2rem;

                span{
                    font-size: 14px;
                    vertical-align: middle;
                }
            }

            a{
                img{
                    border: none;
                }
            }
        }
    }

    .to-top{
        border-top: 2px solid #e3e4e9;
        margin-top: 20px;

        a{
            color: #45a7ca;
            font-size: 13px;
        }

        div{
            margin-top: 20px;
        }

        .previous-link{
            .icon-previous{
                img{
                    transform: rotate(180deg);
                    width: 7%;
                }
            }
            text-align: left;
        }

        .top-link{
            text-align: center;

            span{
                display: block;
                color: #9497a8;
                font-family: $font-family-gotham-bold;
            }
            img{
                transform: rotate(180deg);
                width: 7%;
            }
        }

        .next-link{
            .icon-next{
                img{
                    width: 7%;
                }
            }
            text-align: right;
        }
    }
}