.blog_teaser {
    h2{
        color: #6B6F89;
    }
    border-bottom: 1px solid #E2E3E7;
}

nav#pagination{
    .pag_prev{
        float:left;
    }
    .pag_nums{
        display: block;
        text-align: center;
    }
    .pag_next{
        float:right;
    }
}

span.icon-price-tag{
    font-size: 12px;
    color: #81C8E1;
}

.pag_nums {
    height:36px;
    a{
        background: #EAEBF0;
        color: #E17A13;
        padding: 10px 20px 10px 20px;
        text-align: center;
        border-radius: 15px;
        font-size: 12px;
        font-weight: 500;
    }

    a.pag_active{
        color: #FFF;
        background: #E17A13;
    }
}