div.blog-sidebar{
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
    font-family: $font-family-gotham-bold;

    ul.dates{
        padding-left: 0;
        margin-left: 0; 
        li{
            padding-bottom:10px;
            a{
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                border-radius: 16px;
            }
        }
    }

}

ul.tag-list{
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 20px 0 0 0;
}


/* Side Bar
------------------------------------------------------------------- */

// aside{
//     font-family: $font-family-gotham-bold;

//     a{
//         color: #45a7ca !important;
//     }

//     h4{
//         color: #6c708d !important;
//     }

//     .tag-list{
//         margin-top: 20px;
//     }
// }
