---
layout: default
format: blog-index
# Don't index these pages dear Google.
noindex: true
header: 
    version: small
    title: Software Engineering Blog
    image: header-logo-crop.png
    page: team
    icon: icon-blog
---
<div class="row">
	<div class="small-7 columns t30">
		{% include _pagination.html %}
	</div><!-- /.medium-7.columns -->

	<div class="small-1 columns t30"> <!-- Spacing -->
	</div>

	<div class="medium-4 columns t30">
		{% include _blog_sidebar.html %}
	</div><!-- /.medium-5.columns -->
</div><!-- /.row -->
