---
layout: default
format: careers
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div>
    </div>
</div>
<table class="careers-table" style="width: 100%">
    <thead>
        <tr>
            <th style="width: 15%">&nbsp;</th>
            <th>Current Oppertunities</th>
            <th>Location</th>
            <th>Posted Date</th>
            <th>&nbsp;</th>
            <th style="width: 15%">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr class="spacer"></tr>
        {% for posting in site.data.careers %}
        <tr>
            <td></td>
            <td><a class="position" href="{{posting.link}}">{{ posting.position }}</a></td>
            <td>{{ posting.location }}</td>
            <td>{{ posting.date | date: '%b. %d, %Y'}}</td>
            <td><a href="{{posting.link}}">Apply »</a></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="join-the-team row">
  <div class="small-1 columns">&nbsp;</div>
  <div class="small-10 columns label">
    <strong>Other OICR Oppertunities:</strong> Find the job that's right for you.
    {% include _action_buttons.html link='https://www.recruitingsite.com/csbsites/oicr/careers.asp' text='All Postings' %}
  </div>
  <div class="small-1 columns">&nbsp;</div>
</div>
