---
layout: default
format: careers
---

<div class="careers-body">
    <div class="intro">
        <h2 class="title">{{ page.title }}</h2>
        {{ page.caption }}

        <table class="careers-table" style="width: 100%">
            <thead>
                <tr>
                    <th>Current Opportunities</th>
                </tr>
            </thead>
            <tbody>
                <tr class="spacer"></tr>
                {% for posting in site.data.careers %}
                <tr>
                    <td><a class="position" href="{{posting.link}}">{{ posting.position }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="map hide-for-small">
        <iframe src="https://snazzymaps.com/embed/16784" width="100%" height="100%" style="border:none;"></iframe>
        <a class="link-overlay" href="https://www.google.ca/maps/place/Ontario+Institute+for+Cancer+Research/" target="_blank" title="Our office"></a>
    </div>
</div>

<div class="join-the-team row">
    <div class="small-1 columns">&nbsp;</div>
    <div class="small-10 columns label">
        <strong>Other OICR Opportunities:</strong> Find the job that's right for you.
        {% include _action_buttons.html link='https://www.recruitingsite.com/csbsites/oicr/careers.asp' text='All Postings' %}
    </div>
    <div class="small-1 columns">&nbsp;</div>
</div>
