---
layout: default
format: careers
header: 
    version: full
    title: Software Engineering Blog
    caption: We are OICR's passionate team of software engineers who build tools that help cancer researchers collaborate, work faster and take on more difficult challenges. This blog allows us to share information about or cutting-edge technology, groundbreaking tools and upcoming events.
    image: header-logo-crop.png
    icon: icon-pizza
    buttons:
        - title: Meet the Team
          link: "/team/"
        - title: Join the Team
          link: "/careers/"
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div>
    </div>
</div>