---
layout: default
format: club
---
{% assign selectedAuthorId = page.category %}
{% assign selectedAuthor = site.data.authors[page.category] %}
{% assign author_posts = "" | split: ""  %}

{% for post in site.posts %}
  {% assign displayPost = false %}
  {% assign authors = post.author | split: ", " %}
  {% for currentAuthorId in authors %}
    {% if currentAuthorId == selectedAuthorId %}
      {% assign author_posts = author_posts | push: post %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if page.content == '' %}
<div class="club-posts-info">
    <div class="row">
        <h6>Posts by: {{selectedAuthor.name}}</h6>
    </div>
</div>
{% endif %}
<div class="club-page">
    <div class="row">
        <div class="small-12 columns posts">
          {% unless page.content == '' %}
            <div>{{ content }}</div>
          {% endunless %}

          {% for post in author_posts %}
            {% assign mod = forloop.index | minus: 1 | modulo: 3 %}
            {% if mod == 0 or forloop.first %}
              <div class="row" >
            {% endif %}
            {% include _article_preview.html post=post column_classes='small-12 medium-6 large-4' %} 
            {% if mod == 2 or forloop.last %}
              </div><!-- /.row -->
            {% endif %}
          {% endfor %}
          <div class="row">
            <div class="columns">
              {% include _action_buttons.html link='blog' text='View Full Blog' button='right' %}
            </div>
          </div>
        </div>
    </div><!-- /.row -->
</div><!-- /#header-home -->
