---
layout: default
format: post
header: 
    version: small
    title: Software Engineering Blog
    image: header-logo-crop.png
    icon: icon-blog
---
{% assign author = site.data.authors[page.author] %}
<div class="row blog">
  <div class="small-8 columns">
    <div class="blog-post">
      <div class="blog_teaser">
        <span class="date-display">{{ page.date | date: "%b. %-d, %Y" }}</span>
        <h3 class="post-title"><a href="{{ site.url }}/{{ page.url }}">{{ page.title }}</a></h3>
        {% if author %}<p class="post-author">By: <a href="{{site.url}}/blog/category/{{page.author}}"><strong>{{ author.name }}</strong></a></p>{% endif %}
        <div class="circles">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        {% if page.tags.first %}
        <p class="post-tags">
            <i class="fa fa-tag" aria-hidden="true"></i>
            <span class="pr10">
              <strong>
              {% for tag in page.tags %}
                {{ tag }}
                {% unless forloop.last %}
                / 
                {% endunless %}
              {% endfor %}
              </strong>
            </span>
        </p>
        {% endif %}
      </div>
      <article>
        <div itemprop="articleSection">
        {{ content }}
        </div>
    </article>
    <div class="social-media clearfix">
      <div class="small-9 columns">
        <span>Share:</span>
      </div>
      <div class="small-1 columns">
        <a class="twitter-share-button" 
          target="_blank"
          href="https://twitter.com/intent/tweet?text={{page.title}}%0D%0A{{site.url}}/{{page.url}}">
          <img src="{{ site.url }}/images/icons/icon-twitter.svg" />
        </a>
      </div>
      <div class="small-1 columns">
        <a href="#">
          <img src="{{ site.url }}/images/icons/icon-facebook.svg" />
        </a>
      </div>
      <div class="small-1 columns">
        <a target="_blank" 
          href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}/{{page.url}}&title={{page.title}}&source={{site.url}}">
          <img src="{{ site.url }}/images/icons/icon-linkedin.svg" />
        </a>
      </div>
    </div>
    </div>
    <div class="author-box columns"> 
      <div class="author">
        <div class="small-2 columns">
          <img src="{% if author[1].avatar contains 'http' %}{{ author[1].avatar }}{% else %} {{site.urlimg}}avatars/{{author.avatar}} {% endif %}" title="{{ author.name }}"/>
        </div>
        <div class="small-10 columns">
          <div class="author-bio">
            <span>
              <strong>{{author.name}},</strong>
            </span>
            <span>
              {{author.position}}
            </span>
          </div>
          <div class="author-info">
            <span>{{ author.info }}</span>
          </div>
          <div class="author-links">
            <a class="author-blogs" href="{{ site.url }}/blog/category/{{ page.author }}">Blog Posts »</a>
            <a class="author-github" href="https://github.com/blog/{{ author[1].github }}"> Github </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-4 columns ">
    {% include _sidebar.html %}
  </div>

  <div class="small-12 columns to-top">
    <div class="small-5 columns previous-link">
      {% if page.previous.url %}
        <a style="float: left;" href="{{page.previous.url}}">
          <span class="icon-previous">
            <img src="{{ site.url }}/images/icons/icon-arrow-blue.svg" />
          </span>
          <span><strong>Previous:</strong> {{page.previous.title}}</span>
        </a>
      {% endif %}
    </div>
    <div class="small-2 columns top-link">
      <a href="#top">
        <span><img src="{{ site.url }}/images/icons/icon-arrow.svg" /></span>
        <span>Back to Top</span>
      </a>
    </div>
    <div class="small-5 columns next-link">
    {% if page.next.url %}
      <a href="{{page.next.url}}">
        <span><strong>Next:</strong> {{page.next.title}}</span>
        <span class="icon-next">
          <img src="{{ site.url }}/images/icons/icon-arrow-blue.svg" />
        </span>
      </a>
    {% endif %}
    </div>
  </div>
</div><!-- /.row -->
